@import '@/styles/base/colors';
@import '@/styles/base/breakpoints';
@import '@/styles/base/mixins';

.navContainer {
  display: flex;
  align-items: center;
  gap: 0.625rem 2.0625rem;

  @include breakpoint(xs, down) {
    gap: 0.625rem 1rem;
  }
}

.navLink {
  color: $secondary;
  transition: 0.3s;
  &:hover {
    color: $white;
  }

  &.navLinkActive {
    color: $white;
  }
}

.navLinkActive {
  color: $white;
}

.headerContainer {
  display: grid;
  grid-template-columns: 8.0625rem auto;
  gap: 0.625rem 3.25rem;
  padding: 0.9375rem 2.5rem;
}
