.bannerContainer {
  min-height: 100%;
  padding: 2.5rem 0 3.75rem;
  display: flex;
  position: relative;
  align-items: center;
}
.title {
  max-width: 44.4rem;
  margin: 0;
}

.subTitle {
  margin: 4.06rem 0;
  line-height: 1.3;
}
