.bannerContainer {
  min-height: 100%;
  padding: 40px 0 60px;
  display: flex;
  position: relative;
  align-items: center;
}
.title {
  max-width: 711px;
  margin: 0;
}

.subTitle {
  margin: 65px 0;
  line-height: 1.3;
}
