$white: #ffffff;
$black: #000;

$default: #462929;

$secondary: #b09a81;
$secondaryHover: #daaf7c;
$secondaryPressed: #b08f67;

$green: #1f4f3b;
$greenHover: #2d653a;
$greenPressed: #296036;

$blue-ribbon: #4343ff;

$error: red;

$outline: rgba($blue-ribbon, 0.5);
